/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
dev/e2e-broken

# ignore compiled binaries
/provider

# docs build artifacts
docs/public/
docs/resources/_gen/
docs/.hugo_build.lock
